<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 me-0 ps-3 navbar-logo text-white" href="#">LOGO</a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"/>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link navbar-text text-white" href="javascript: document.logoutForm.submit()">Log out</a>
      <!-- <a class="nav-link navbar-text text-white" href="/logout">Log out</a> -->
      <form name="logoutForm" action="/logout" method="post"></form>
    </li>
</ul>
</nav>



