<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {
    titlePage: 'Home'
}); %> 
<body>
    <div class="bg1">
        <%- include('partials/navbar') %> 
        <h1 class="d-flex justify-content-center" style="font-size: 72px; height:300px; align-items: center;">Play Traditional Game</h1>
        <h3 class="d-flex justify-content-center">Experience new traditional game play</h3>
    </div>
</body>
</html>
